.light-theme {
  --body-color: #fff;
  --white-color: #000;
  --theme-color: #ff6431;
  --black-color: #fff;
  --search-color: #eeeeee;
  --fire-bubble: #faf8f8;
  --light-grey: #f2f2f2;
  --deam-white: #000;
}
.dark-theme {
  --body-color: #141217;
  --white-color: #fff;
  --theme-color: #ff6431;
  --black-color: #000;
  --search-color: #272933;
  --fire-bubble: rgba(59, 65, 79, 0.5);
  --light-grey: rgba(90, 94, 104, 0.5);
  --deam-white: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
  color: var(--white-color);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.item-principal {
  margin: 2rem;
}
h1 {
  font-size: 32px;
  line-height: 40px;
  color: #fff;
}
h2 {
  font-size: 26px;
  line-height: 34px;
}
h3 {
  font-size: 24px;
  line-height: 32px;
}
h4 {
  font-size: 14px;
  line-height: 22px;
}
h5 {
  font-size: 12px;
  line-height: 20px;
}
/*trending styling starts*/
.row {
  max-width: 1rem 0.5rem;
  margin: 0 auto;
}
.trending-title {
  margin: 32px 0px;
}
.trending-title h2 {
  margin-bottom: 0px;
}
.trending-title .theme-btn {
  width: 130px;
  display: inline-block;
}
.light-theme .trending-content {
  border-radius: 15px;
  background: var(--fire-bubble);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.trending-content > img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
}
.trending-desc {
  padding: 24px;
  position: relative;
}

.trending-desc .user-image {
  position: absolute;
  right: 18px;
  top: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  object-fit: cover; /* Evita la distorsión al ajustar la imagen */
  object-position: center; /* Centra la imagen dentro del contenedor */
}
.trending-desc .heart {
  position: absolute;
  left: 18px;
  top: -30px;
  width: 42px;
  height: 42px;
  text-align: center;
  padding: 9px 0px;
  border-radius: 6px;
  transition: all 0.5s;
  font-size: 22px;
  -webkit-transition: all 0.5s;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  background-color: var(--black-color);
}
.trending-desc .heart:hover {
  background: var(--theme-color);
  border: 1px solid var(--theme-color);
  color: #fff;
}
.trending-desc .user-title {
  text-transform: capitalize;
  color: var(--deam-white);
  margin: 0px;
}
.trending-desc .user-position {
  text-transform: capitalize;
  margin: 16px 0px;
  font-size: 18px;
  line-height: 26px;
}
.trending-desc .bid h5 {
  text-transform: capitalize;
  color: var(--deam-white);
  margin-bottom: 7px;
}
.trending-desc .bid span {
  font-size: 20px;
  line-height: 28px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /*global styling starts*/
  h1 {
    font-size: 30px;
    line-height: 38px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 22px;
    line-height: 30px;
  }
  h4 {
    font-size: 14px;
    line-height: 22px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }

  .trending-desc {
    padding: 20px;
  }
  .trending-desc .user-position {
    margin: 12px 0px;
  }
  .trending-desc .user-image {
    top: -22px;
    width: 40px;
    height: 40px;
    object-fit: cover; /* Evita la distorsión al ajustar la imagen */
    object-position: center; /* Centra la imagen dentro del contenedor */
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /*global styling starts*/
  h1 {
    font-size: 26px;
    line-height: 34px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  h3 {
    font-size: 18px;
    line-height: 26px;
  }
  h4 {
    font-size: 12px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  body {
    font-size: 15px;
    line-height: 22px;
  }
  /*trending styling starts*/
  .trending-title {
    margin: 22px 0px;
  }
  .trending-desc {
    padding: 12px;
  }
  .trending-desc .user-image {
    width: 35px;
    height: 35px;
    object-fit: cover; /* Evita la distorsión al ajustar la imagen */
    object-position: center; /* Centra la imagen dentro del contenedor */
    top: -20px;
    right: 14px;
  }
  .trending-desc .user-position {
    font-size: 16px;
    line-height: 24px;
    margin: 4px 0px 10px;
  }
  .trending-desc .bid h5 {
    margin-bottom: 4px;
  }
  .trending-desc .bid span {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /*global styling starts*/
  h1 {
    font-size: 22px;
    line-height: 28px;
  }
  h2 {
    font-size: 16px;
    line-height: 24px;
  }
  h3 {
    font-size: 14px;
    line-height: 22px;
  }
  h4 {
    font-size: 12px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  body {
    font-size: 14px;
    line-height: 22px;
  }
  /*trending styling starts*/
  .trending-title {
    margin: 22px 0px;
  }
  .trending-desc {
    padding: 12px;
  }
  .trending-desc .user-image {
    width: 35px;
    height: 35px;
    object-fit: cover; /* Evita la distorsión al ajustar la imagen */
    object-position: center; /* Centra la imagen dentro del contenedor */
    top: -20px;
    right: 14px;
  }
  .trending-desc .user-position {
    font-size: 15px;
    line-height: 24px;
    margin: 4px 0px 10px;
  }
  .trending-desc .bid h5 {
    margin-bottom: 4px;
  }
  .trending-desc .bid span {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  /*global styling starts*/
  h1 {
    font-size: 22px;
    line-height: 28px;
  }
  h2 {
    font-size: 16px;
    line-height: 24px;
  }
  h3 {
    font-size: 14px;
    line-height: 22px;
  }
  h4 {
    font-size: 12px;
    line-height: 20px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  body {
    font-size: 14px;
    line-height: 22px;
  }
  /*trending styling starts*/
  .trending-title {
    margin: 25px 0px;
  }
  .trending-desc {
    padding: 12px;
  }
  .trending-content {
    margin-bottom: 25px;
  }
  .trending-grid .col-md-4:last-child .trending-content {
    margin-bottom: 0px;
  }
  .trending-desc .user-image {
    width: 35px;
    height: 35px;
    object-fit: cover; /* Evita la distorsión al ajustar la imagen */
    object-position: center; /* Centra la imagen dentro del contenedor */
    top: -20px;
    right: 14px;
  }
  .trending-desc .user-position {
    font-size: 15px;
    line-height: 24px;
    margin: 4px 0px 10px;
  }
  .trending-desc .bid h5 {
    margin-bottom: 4px;
  }
  .trending-desc .bid span {
    font-size: 16px;
    line-height: 24px;
  }
}
